<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Document</title>
<link rel="stylesheet" href="/webshop.css">
</head>
<body>

	<a href="http://localhost:8080/webshop"><p id="myshop">My Shop</p></a>
	<a href="http://localhost:8080/more-filters"><p id="more">More
			>></p></a>
	<div id="uppestDiv"></div>
	<div id="button_up">
		<a href="http://localhost:8080/only-available"><button class="buttons_underHeader">ONLY AVAILABLE</button></a> 
		<a href="http://localhost:8080/cheapest-first"><button class="buttons_underHeader">CHEAPEST FIRST</button></a> 
		<a href="http://localhost:8080/contains-nike"><button class="buttons_underHeader">CONTAINS NIKE</button></a> 
		<a href="http://localhost:8080/average-stock"><button class="buttons_underHeader">AVERAGE STOCK</button></a> 
		<a href="http://localhost:8080/most-expensive"><button class="buttons_underHeader">MOST EXPENSIVE AVAILABLE</button></a>
	</div>
	<form action="/search" method="post">
		<label for="wsearch">Search for:</label><br> <input type="search" id="wsearch" name=" " placeholder="...something like nike">
		<input type="submit" value="Search" id="wsearch_button">
	</form>
	<table>
		<tr>
			<th>Name</th>
			<th>Description</th>
			<th>Price</th>
			<th>Quantity of stock</th>
		</tr>
		<tr th:each="it:${elso}">
			<td th:text="${it.name}"></td>
			<td th:text="${it.description}"></td>
			<td th:utext="${it.price+'<br>'+' K&#269;'}"></td>
			<td th:text="${it.qstock}"></td>
		</tr>
		<tr th:each="av:${masodik}">
			<td th:text="${av.name}"></td>
			<td th:text="${av.description}"></td>
			<td th:utext="${av.price+'<br>'+' K&#269;'}"></td>
			<td th:text="${av.qstock}"></td>
		</tr>
		<tr th:each="ch:${cheapest}">
			<td th:text="${ch.name}"></td>
			<td th:text="${ch.description}"></td>
			<td th:utext="${ch.price+'<br>'+' K&#269;'}"></td>
			<td th:text="${ch.qstock}"></td>
		</tr>
		<tr th:each="nike:${cnike}">
			<td th:text="${nike.name}"></td>
			<td th:text="${nike.description}"></td>
			<td th:utext="${nike.price+'<br>'+' K&#269;'}"></td>
			<td th:text="${nike.qstock}"></td>
		</tr>
		<tr th:each="searchv:${searchf}">
			<td th:text="${searchv.name}"></td>
			<td th:text="${searchv.description}"></td>
			<td th:utext="${searchv.price+'<br>'+' K&#269;'}"></td>
			<td th:text="${searchv.qstock}"></td>
		</tr>
	</table>

</body>
</html>